body {
  background-color: #eaebef !important;
}
.navbar   {
  background-color: navy;
}
.search-box {
  width: 800px !important;
  height: 40px;
  border-radius: 2.25rem !important;
  position: relative;
}
.search-btn {
  position: absolute;
  margin-left: 728px;
  height: 40px;
  border-top-right-radius: 2.25rem !important;
  border-bottom-right-radius: 2.25rem !important;
 
}
.details-btn{
    border-radius: 2.25rem !important;
    background: navy !important;
}
.card{
    border: none !important;
}
.details-image{
    width: 450px;
}
.row{
    align-items: center !important;
}

/* Media query */

@media only screen and (max-width: 576px){
    .navbar .container{
        flex-direction: column;
    }
    .fa-cart-plus{
        display: none;
    }
    .search-box {
        width: 280px !important;
        height: 40px; 
              }
      .search-btn {
        margin-left: 208px;
        height: 40px;
        
      }
}
